$font-main: 'Roboto', sans-serif;

$light-green: rgba(105, 180, 46, 1);
$green-hover: rgba(128, 191, 77, 1);
$white: rgba(255, 255, 255, 1);
$dark: rgba(26, 26, 26, 1);
$light-grey: rgba(242, 242, 242, 1);
$dark-grey: rgba(102, 102, 102, 1);
$grey: rgba(179, 179, 179, 1);
$footer-color-font: rgba(198, 199, 200, 1);

$spacing-gap: 8px;

$mobile: 480px;
$table: 768px;
$desktop: 1920px;
